#head
	= image_tag('logo-red.png')
	%a jackhasakeyboard

#disp
	#attr
		%h4#title Moonrise Kingdom (2012)
		%h4 Add to playlist
		%h4 93%
		%h4 84
		= image_tag('star.svg')
		= image_tag('star.svg')
		= image_tag('star.svg')
		= image_tag('star.svg')
		= image_tag('star.svg')
	= image_tag('film.png', id: 'film')

#gal
	.film
		= image_tag('film.png')
		%h5 The Kings of Summer
	.film
		= image_tag('film.png')
		%h5 The Kings of Summer
	.film
		= image_tag('film.png')
		%h5 The Kings of Summer
	.film
		= image_tag('film.png')
		%h5 The Kings of Summer